#container {
    position: absolute;
    width: 1200px;
    height: 800px;
    border: 2px solid #000000;
    perspective: 600px;
    overflow: hidden;
}

#world {
    position:absolute;
    width: inherit;
    height: inherit;
   

    transform-style: preserve-3d;
}
    /* transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(30deg) rotateZ(40deg); */

#square01 {
    position: absolute;
    width: 1200px;
    height: 800px;
    background-color: #3437db;
    transform: translate3d(0px, 0px, 200px);
    opacity: 0.1;
}
#square02 {
    position: absolute;
    width: 1200px;
    height: 800px;
    background-color: #400147;
    transform: translate3d(0px, 00px, -200px); 
    opacity: 1;
}
#square03 {
    position: absolute;
    width: 1200px;
    height: 800px;
    background-color: #34db9b;
    transform: translate3d(0px, 400px, 0px) rotateX(90deg);
    opacity: 1;
}
 #square04 {
    position: absolute;
    width: 1500px;
    height: 800px;
    background-color: #ca34db;
    transform: translate3d(-150px, -500px, 0px) rotateX(90deg);
    opacity: 1;
} 
#square05 {
    position: absolute;
    width: 1200px;
    height: 800px;
    background-color: #180e4c;
    transform: translate3d(-600px, 0px, 0px) rotateY(90deg);
    opacity: 0.5;
} 
#square06 {
    position: absolute;
    width: 800px;
    height: 1400px;
    background-color: #461010;
    transform: translate3d(800px,0px, 00px) rotateY(90deg);
    opacity: 0.3;
} 
#window01 {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #7c96ec;
    border: 5px solid #000000;
    transform: translate3d(700px, 200px, 0px) 
    
}
#window02 {
    position: absolute;
    width: 250px;
    height: 500px;
    background-color: #4a0404;
    border: 5px solid #000000;
    transform: translate3d(200px, 200px, -100px) 
    
}
#window03 {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #000000;
    border: 5px solid #000000;
    transform: translate3d(320px, 440px, 100px) 
    
}